.card {
	color: #ccc;
	background-color: #1f1f20;
	border-radius: 15px;
	width: 40vw;
	height: 30vh;
	margin: 20px;
	display: flex;
	flex-direction: column;
}

.graph {
	height: 80%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Montserrat", sans-serif;
}

.progressBar {
	display: flex;
	flex-direction: row;
}

.footer {
	color: #fff;
	background-color: #333;
	border-radius: 0 0 15px 15px;
	height: 20%;
	width: calc(100% - 40px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	cursor: pointer;
}
